@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --orange:#ffa500;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--orange);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--orange);
}
.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--black);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    position: sticky;
    transition: background-color 0.5s ease-in-out;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
}

.header .logo img{
   height: 5rem;
   margin-left: 0%;
}

.header .navbar a{
    font-size: 2rem;
    text-align: center;
    align-items: center;
    color: var(--white);
    margin: 0 1rem;
    transition: color 0.4s ease-in-out;
}
header.scrolled nav a{
    background-color: #48cae4;
   
}
header.scrolled {
    background-color:#48cae4; 
    
  }
.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}

#menu-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}

#menu-btn:hover{
    color: var(--primary);
}
.home{
    padding: 0;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}
.home .slide .content h4{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}
.home .slide .content a:hover{
    color:var(--white)
}
.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--primary);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}
.main{
    background: #333;
    
}
.Menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 5rem;
}

.Menu .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    background: #333;
}
.Menu .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(5, 0, 0, 0.819);
}
.Menu .box-container .box img{
    height:30rem;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.Menu .box-container .box .content{
    padding:2rem;
}

.Menu .box-container .box .content h3{
    font-size:2.5rem;
    color: whitesmoke;
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
    background-color: #333;
}
.services .heading{
       font-size: 3rem;
       text-align: center;
       color: var(--orange);
}
.services .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
    cursor: pointer;
}
.services .box-container .box:hover{
    background: rgba(0, 0, 0, 0.178);
    
}
.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--white);
    padding: .5rem 0;
}

.chef .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
.chef .heading{
    font-size: 3rem;
    text-align: center;
    color: var(--orange);
}
.chef .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    background: #333;
}
.chef .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(5, 0, 0, 0.819);
}
.chef .box-container .box img{
    height:55rem;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.chef .box-container .box .content{
    padding:2rem;
}

.chef .box-container .box .content h3{
    font-size:3.5rem;
    color: whitesmoke;
}
.chef .box-container .box .content p{
    font-size:2rem;
    color: whitesmoke;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    
}

.review .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    border-color: #ffa500;
    overflow: hidden;
    display:block;
   
}
.review .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(5, 0, 0, 0.819);
}

.review .box-container .box{
    padding:2rem;
}
.review .heading{
    font-size: 3rem;
    text-align: center;
    color: var(--orange);
}
.review .box-container .box h3{
    font-size:2rem;
    color: whitesmoke;
}
.review .box-container .box p{
    font-size:2rem;
    color: whitesmoke;
}

.reservation .heading{
    font-size: 3.5rem;
    color:var(--orange);
}
.reservation form{
    padding: 5rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    border-color: #ffa500;
    align-items: center;
    width: 100rem;
    margin: auto;
}

.reservation form .container{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form .container .box{
    flex: 1 1 40rem;
}

.reservation form .container .box p{
    font-size: 1.8rem;
    color: var(--white);
}

.reservation form .container .box .input{
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.1);
    color: var(--black);
}
.reservation form .container .submit:hover{
         color: var(--orange);
}
.Info .info h2{
    font-size: 4.5rem;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Info .info h3{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}
.Info .info p{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
/* end */

/* footer */

 
.footer .share{
    
    text-align: center;
    margin-top: .5rem;
}

.footer .share a{
    color: var(--white);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--orange);
    
}

.footer .share a:hover{
    color: var(--white);
    background: var(--primary);
    transform: rotate(360deg);
}




















/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    }

    .review .review-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}
